<div id="nosotras" class="container-fluid p-0 pb-2">
    <div class="row d-flex align-items-center m-0 pt-3 pl-3 bg-white">
        <h1 class="col-12">Sobre Nosotras...</h1>
        <p class="col-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus arcu, viverra ut
            libero a, tempor dignissim erat. Maecenas ut cursus metus. Maecenas imperdiet bibendum tellus nec
            elementum.</p>
    </div>
    <div class="container-fluid mt-3 mb-3 d-flex flex-column align-items-center justify-content-center">
        <div id="mar" class="row align-items-center justify-content-center mt-5 mb-4 bg-white">
            <div class="col-12 col-lg-3 d-flex justify-content-center align-items-center img-fondo-mar">
                <img src="https://media.istockphoto.com/vectors/french-fries-ketchup-tomato-sauce-and-roasted-potato-chips-vector-vector-id1154743975">
            </div>
            <div class="col-12 col-lg-9 d-flex flex-column justify-content-center p-3">
                <h5>Mar</h5>

                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus arcu, viverra ut
                    libero a, tempor dignissim erat. Maecenas ut cursus metus. Maecenas imperdiet bibendum tellus
                    nec
                    elementum. </p>
            </div>
        </div>
        <div id="sara" class="row align-items-center justify-content-center mb-5 bg-white">
            <div class="order-2 col-12 col-lg-3 d-flex justify-content-center align-items-center img-fondo-sara">
                <img src="https://images.all-free-download.com/images/graphiclarge/realistic_chocolate_vector_graphics_573865.jpg" class="posicion-sara">
            </div>
            <div class="col-12 col-lg-9 d-flex flex-column justify-content-center p-3">
                <h5>Sara</h5>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus arcu, viverra ut
                    libero a, tempor dignissim erat. Maecenas ut cursus metus. Maecenas imperdiet bibendum tellus
                    nec
                    elementum. </p>
            </div>
        </div>
    </div>
</div>
