<div class="container-fluid p-0" *ngIf="!usuarioConectado">
    <div class="row">
        <div id="presentacion" class="d-flex justify-content-around align-items-center w-100 flex-column h-100 pb-5 pt-5">
            <h1 class="m-0 mb-3">Bienvenido</h1>
            <p class="w-75 m-0"><b>¿Te gusta cocinar y comer comida rica?</b> Pues estás en el lugar indicado, <b>ComoEnCasa</b> es una web creada especialmente para gente que le gusta la comida y que además quiera compartir sus platos favoritos con todo el mundo. No olvidéis comentar sobre que os han parecido las recetas y si tenéis ganas ayudad a seguir mejorando esta comunidad. <br><span class="gracias">¡Gracias por vuestro apoyo!</span></p>
        </div>
    </div>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a [routerLink]="['/mostrarReceta']" (click)="pasarReceta(2)"> <img class="d-block w-100 h-10 carrusel1"> </a>
      <div class="carousel-caption d-md-block">
        <h5>Mousse de chocolate</h5>
        <div class="card-stats">
          <div class="stats">
            <div class="value"><i class="fas fa-clock"></i></div>
            <div class="type">30 min</div>
          </div>
          <div class="stats centro">
            <div class="value"><i class="fas fa-user-friends"></i></div>
            <div class="type">2</div>
          </div>
          <div class="stats">
            <i class="fas fa-laugh-beam"></i>
            <div class="type">Fácil</div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <a [routerLink]="['/mostrarReceta']" (click)="pasarReceta(4)"> <img class="d-block w-100 h-10 carrusel2"> </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Lentejas de la yaya</h5>
        <div class="card-stats">
          <div class="stats">
            <div class="value"><i class="fas fa-clock"></i></div>
            <div class="type">1 hora</div>
          </div>
          <div class="stats centro">
            <div class="value"><i class="fas fa-user-friends"></i></div>
            <div class="type">4</div>
          </div>
          <div class="stats">
            <i class="fas fa-meh"></i>
            <div class="type">Media</div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <a [routerLink]="['/mostrarReceta']" (click)="pasarReceta(8)"> <img class="d-block w-100 h-10 carrusel3"> </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Yakisoba</h5>
        <div class="card-stats">
          <div class="stats">
            <div class="value"><i class="fas fa-clock"></i></div>
            <div class="type">30 min</div>
          </div>
          <div class="stats centro">
            <div class="value"><i class="fas fa-user-friends"></i></div>
            <div class="type">2</div>
          </div>
          <div class="stats">
            <i class="fas fa-laugh-beam"></i>
            <div class="type">Fácil</div>
          </div>
        </div>
      </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<div class="container-fluid p-0 mt-5 mb-5" id="body-card">
    <h2 class="ml-5">Últimas publicaciones</h2>
    <div class="row justify-content-center">
      <ng-container *ngFor="let receta of recetas | async">
        <ng-container *ngIf="(receta.nombre).includes(nombreReceta);">
            <div class="container-card">
                <div class="card m-4">
                  <div class="card-image"> <img class="card-image"
                      src={{receta.foto}}>
                  </div>
                  <div class="card-text p-2 d-flex justify-content-center flex-column align-items-center">
                    <p class="date">{{((receta.fecha).seconds)*1000 | date: 'dd/MM/yyyy'}}</p>
                    <h4 class="mb-3">{{receta.nombre}}</h4>
                    <p>Comensales: {{receta.comensales}}, duración: {{receta.duracion}}, dificultad: {{receta.dificultad}}</p>
                  </div>

                  <div class="container-btn"><a [routerLink]="['/mostrarReceta']" (click)="pasarReceta(receta.id)"
                    class="btn btn-ver">Ver</a></div>
                </div>
              </div>
        </ng-container>
      </ng-container>
    </div>
</div>

