<div class="container-fluid pt-5 pb-5 fondo">
    <div class="container pt-3 pb-3">
        <!--presentacion-->
        <h1 id="titulo" class="text-center">Como<span>EnCasa</span></h1>
        <p id="descripcion" class="text-center">Comparta sus recetas favoritas </p>
        <!--fin presentacion-->




        <!--primer bloque-->
        <div class="form-group  primer-bloque">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input input-crear-receta" name="filename">
                <label class="custom-file-label input-crear-receta" for="customFile"
                    data-content="Abrir">Seleccione un archivo</label>
            </div>


            <!--nombre-->
            <div class="form-group">
                <input type="text" id="nombre" [(ngModel)]="nombreReceta" class="form-control input-crear-receta"
                    placeholder="Nombre" required>
            </div>
            <!--fin nombre-->

            <!--categoria-->
            <div class="form-group">
                <select id="categoria" [(ngModel)]="categoria" name="categoria" class="form-control input-crear-receta"
                    id="dropdown">
                    <option selected disabled hidden>Seleccione una categoría</option>
                    <option>Carnes</option>
                    <option>Pescados</option>
                    <option>Legumbres</option>
                    <option>Pastas</option>
                    <option>Ensaladas</option>
                    <option>Postres</option>
                </select>
            </div>
            <!--fin categoria-->

            <!--comensales-->
            <div class="form-group comensales">
                Comensales: <input type="number" id="comensales" [(ngModel)]="comensales"
                    class="form-control ml-3 input-crear-receta">
            </div>
            <!--fincomensales-->

            <!--dificultad-->
            <div class="form-group">
                <select id="dificultad" [(ngModel)]="dificultad" name="dificultad"
                    class="form-control input-crear-receta" id="dropdown">
                    <option selected disabled hidden>Dificultad</option>
                    <option>Fácil</option>
                    <option>Media</option>
                    <option>Difícil</option>
                </select>
            </div>
            <!--fin dificultad-->

            <!--duracion-->
            <div class="form-group">
                <input type="text" id="duracion" [(ngModel)]="duracion" name="duracion"
                    class="form-control input-crear-receta" placeholder="Duración">
            </div>
            <!--fin duracion-->
        </div>
        <!--fin primer bloque-->

        <!--segundo bloque-->
        <div class="form-group segundo-bloque">
            <h3>Ingredientes</h3>
            <div class="form-group">
                <div id="ingredientes" class="container-fluid">
                    <div class="ingrediente form-group wow">
                        <input type="text" id="ingrediente1" placeholder="Ingrediente 1"
                            class="form-control ingrediente-input input-crear-receta">
                        <input type="text" id="cantidad1" placeholder="Cantidad 1"
                            class="form-control ingrediente-input input-crear-receta">
                        <button class="btn btn-secondary noQuitarIngredienteCantidad"><i
                                class="fas fa-carrot"></i></button>
                    </div>
                </div>
            </div>
            <div class="center-button d-flex justify-content-center">
                <button (click)="aniadirIngrediente()" class="btn btn-secondary">Añadir ingrediente <i
                        class="fas fa-plus"></i></button>
            </div>

        </div>
        <!--fin segundo bloque-->
        <!--tercer bloque-->
        <div class="form-group tercer-bloque">
            <h3>Pasos</h3>
            <div class="form-group">
                <div id="pasos">
                    <div class="paso form-group d-flex align-items-center">
                        <div class="d-inline-flex flex-column w-100">
                            Paso 1: <input type="text" id="paso1" class="form-control form-group input-crear-receta">
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" name="filename">
                                <label class="custom-file-label input-crear-receta" for="customFile"
                                    data-content="Abrir">Seleccione un archivo</label>
                            </div>
                        </div>

                        <button class="btn btn-secondary noQuitarIngredienteCantidad ml-4"><i class="fas fa-utensils"></i></button>
                    </div>
                </div>
            </div>
            <div class="center-button d-flex justify-content-center">
                <button (click)="aniadirPaso()" class="btn btn-secondary">Añadir paso <i
                        class="fas fa-plus"></i></button>
            </div>

        </div>
        <!--fin tercer bloque-->
        <div class="d-flex justify-content-around align-items-center">

            <button class="btn btn-lg btn-primary btn-block btn-login font-weight-bold boton-estilo" type="submit"
                (click)="validarDatos()">Crear receta</button>
            <a class="btn btn-lg btn-danger btn-block btn-login font-weight-bold boton-volver"
                href="/perfilUsuario">Volver</a>

        </div>
    </div>