.fondo{
  background-image: url('../../../../assets/img/fondos/fondo-crear.svg');
  background-position-x: center;
background-position-y: center;
background-size: cover;
background-repeat: no-repeat;
}
.boton-estilo {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  width: 200px;
  margin: 0 !important;
}
.boton-volver {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  width: 100px;
  margin: 0 !important;
}
#titulo {
  font-family: "Yellowtail", cursive;
  margin-bottom: 0;
}
#descripcion{
  font-size: 13px;
  font-weight: 700;
  color: rgb(98, 98, 98);
}
span{
  color:#ec8001;
}
.checkboxlabel {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.message {
  display: flex;
  justify-content: space-between;
}
textarea {
  width: 82%;
}
.radiobuttons {
  display: flex;
}
.survey {
  font-family: "Raleway", sans-serif;
  margin-top: 25px;
}


.comensales{
  display: flex;
align-items: center;
}
.primer-bloque,.segundo-bloque,.tercer-bloque{
  padding: 10px;
background-color: antiquewhite;
border-radius: 10px;
}

@media (max-width: 500px) {
  .checkboxlabel {
    display: block;
  }
}
/*.custom-file-input ~ .custom-file-label::after para editarolo esta en style css*/


.custom-file-input{
cursor: pointer;
}

.container{
  border: #a4a4a4 1px solid;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}