#body-card {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(119, 119, 119);
  overflow: 0;
}
.card {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 210px 225px 70px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  text-align: center;
  border: 0 !important;
  transition: 0.5s ease;
}
.card-image {
  grid-area: image;
  background-image: url("https://www.hola.com/imagenes/cocina/recetas/20200130159337/mousse-chocolate-postre-facil/0-776-92/mousse-chocolate-facil-rapido-teka-m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
  background-color: #ec8001;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.card-stats .stats{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-stats .type{
    font-size: 12px;
}
.card-stats .centro{
   border-right: 2px #ac5c00 solid;
   border-left: 2px #ac5c00 solid;
   border-left: 2px #ac5c00 solid;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

/*botones*/
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
}

.btn{
    color: white;
    flex: 1 1 auto;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
}
.btn:hover{
    background-position: right center;
}

.btn-ver{
    background-image: linear-gradient(to right, #ffbb1d, #ec8001, #ffbb1d);
}