<div id="nosotras" class="container-fluid p-0 pb-2">
    <div class="row d-flex align-items-center m-0 pt-3 pl-3 bg-white">
        <h1 class="col-12">Sobre Nosotras...</h1>
        <p class="col-12">Somos antiguas estudiantes de programación Web y teníamos la necesidad de querer compartir
            nuestras recetas familiares sin ningún tipo de ánimo de lucro, y que además cualquier persona interesada en
            colaborar pueda ver, comentar y compartir recetas caseras, ayudando a el arte de la cocina.</p>
    </div>
    <div class="container-fluid mt-3 mb-3 d-flex flex-column align-items-center justify-content-center">
        <div id="mar" class="row align-items-center justify-content-center mt-5 mb-4 bg-white">
            <div class="col-12 col-lg-3 d-flex justify-content-center align-items-center img-fondo-mar">
                <img src="https://firebasestorage.googleapis.com/v0/b/comoencasa-website.appspot.com/o/defaults%2Fdeliciosas-papas-fritas-mesa_144627-8583.jpg?alt=media&token=5e99fdf3-5dc0-421c-92a3-55c654133eea"
                    class="posicion-mar">
            </div>
            <div class="col-12 col-lg-9 d-flex flex-column justify-content-center p-3">
                <h5>Mar</h5>
                <p class="m-0">¡Hola! Yo soy Mar, amante de la programación y las cosas ricas. Me ha encantado crear un
                    rinconcito donde la gente pudiera compartir una de nuestras pasiones, y más aún poder hacerlo con
                    Sara.</p>
            </div>
        </div>
        <div id="sara" class="row align-items-center justify-content-center mb-5 bg-white">
            <div class="order-2 col-12 col-lg-3 d-flex justify-content-center align-items-center img-fondo-sara">
                <img src="https://firebasestorage.googleapis.com/v0/b/comoencasa-website.appspot.com/o/defaults%2Fvista-cercana-delicioso-surtido-chocolate_23-2148549915.jpg?alt=media&token=af0b7742-dda1-4770-a2fa-b5f9b7386109"
                    class="posicion-sara">
            </div>
            <div class="col-12 col-lg-9 d-flex flex-column justify-content-center p-3">
                <h5>Sara</h5>
                <p class="m-0">Como ya habréis podido adivinar me llamo Sara y me encanta dibujar y cocinar. Quise
                    colaborar en el desarrollo de esta página con mi amiga Mar, debido a que me parecía una idea muy
                    divertida crear una Web donde pudiese publicar mis recetas caseras.</p>
            </div>
        </div>
    </div>
</div>