 <!--Inicio cabecera-->
 <header id="background-img-nav" class="container-fluid d-flex flex-column justify-content-end bg-primary">
    <!--contenedor del logo-->
    <div class="row align-items-center justify-content-center flex-column mt-5">
        <h1>Como en casa</h1>
        <h6>En ningún sitio</h6>
    </div>
    <!--fin contenedor del logo-->
    <!--contenedor del menu cabecera-->
    <div class="mt-4 container-fluid d-flex justify-content-end">
        <div class="row">
            <div class="col-lg-12">
                <!--menu cabecera-->
                <ul class="nav navbar-nav navbar-left">
                    <!-- cuando se inicie se mostrará el perfil-->
                    <li>
                        <a [routerLink]="['/perfilUsuario']" routerLinkActive="active" class="text-dark"><i class="fas fa-user-circle"></i> Perfil</a>
                    </li>
                    <!--final del perfil-->
                    <!--Inicio menu usuarios-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión / Registro
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="['/iniciarSesion']" routerLinkActive="active">Iniciar Sesión</a>
                            <a class="dropdown-item" [routerLink]="['/registro']" routerLinkActive="active">Registro</a>
                        </div>
                    </li>
                    <!--fin menu usuarios-->
                </ul>
                <!--fin menu cabecera-->
            </div>
        </div>
    </div>
    <!--fin contenedor del menu cabecera-->
</header>
<!--fin cabecera-->
<!--Inicio menu-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!--Logo de la web-->
    <p class="navbar-brand">Como en casa</p>
    <!--Boton para version movil-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-principal"
        aria-controls="menu-principal" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--fin boton-->
    <!--contenedor de los enlaces-->
    <div class="collapse navbar-collapse" id="menu-principal">
        <!--Opciones-->
        <ul class="navbar-nav w-50 mr-auto ml-auto justify-content-between">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="recetas-desplegar-categoria" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Recetas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Carnes</a>
                    <a class="dropdown-item" href="#">Pescados</a>
                    <a class="dropdown-item" href="#">Legumbres</a>
                    <a class="dropdown-item" href="#">Pastas</a>
                    <a class="dropdown-item" href="#">Ensaladas</a>
                    <a class="dropdown-item" href="#">Postres</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/ordenarAlf']" routerLinkActive="active">Ordenar Alfabéticamente</a>
            </li>
        </ul>
        <!--fin de opciones-->
        <!--Cuadro de búsqueda-->
        <form action="" class="navbar-form">
            <div class="form-group m-0">
                <div class="input-group">
                    <input type="search" name="search" id="buscar-receta" placeholder="Search Anything Here..."
                        class="form-control">
                    <button type="button" class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--Fin contenedor de los enlaces-->
</nav>
<!--Fin menu-->