<ng-container *ngFor="let receta of recetas | async">
    <ng-container *ngIf="receta.id==idReceta;">
        <div class="container-fluid contenedorRecetaMostrada pr-5 pl-5 mt-5">
            <!--recetas-->
            <ng-container *ngFor="let receta of recetas | async">
                <ng-container *ngIf="receta.id==idReceta;">
                    <!--titulo y fecha-->
                    <h1 class="mt-3">{{receta.nombre}}</h1>
                    <p class="date">{{((receta.fecha).seconds)*1000 | date: 'dd/MM/yyyy'}} | <b>{{receta.categoria}}</b>
                    </p>
                    <!--fin titulo y fecha-->

                    <!--imagen y datos-->
                    <!--<img src="{{receta.foto}}">-->
                    <img class="img-receta"
                        src="https://www.hola.com/imagenes/cocina/recetas/20200130159337/mousse-chocolate-postre-facil/0-776-92/mousse-chocolate-facil-rapido-teka-m.jpg">
                    <!--datos-->
                    <div class="card-stats mb-3">
                        <div class="stats">
                            <div class="value"><i class="fas fa-clock"></i></div>
                            <div class="type">{{receta.duracion}}</div>
                        </div>
                        <div class="stats centro">
                            <div class="value"><i class="fas fa-user-friends"></i></div>
                            <div class="type">{{receta.comensales}}</div>
                        </div>
                        <div class="stats">
                            <i class="fas fa-laugh-beam" *ngIf="receta.dificultad=='Fácil';"></i>
                            <i class="fas fa-meh" *ngIf="receta.dificultad=='Media';"></i>
                            <i class="fas fa-angry" *ngIf="receta.dificultad=='Difícil';"></i>
                            <div class="type">{{receta.dificultad}}</div>
                        </div>
                    </div>
                    <!--fin datos-->
                    <!--fin imagen y datos--->
                </ng-container>
            </ng-container>
            <!--fin recetas-->
            <h3>Ingredientes</h3>
            <!--ingredientes-->
            <div id="checklist" class="contenedorIngrediente mb-3">
                <ng-container *ngFor="let ingredientesReceta of ingredientes | async">
                    <ng-container *ngIf="ingredientesReceta.idReceta==idReceta;">
                        <input id="{{ingredientesReceta.id}}" type="checkbox" name="r" value="{{ingredientesReceta.id}}"
                            class="m-2">
                        <label for="{{ingredientesReceta.id}}"><b>{{ingredientesReceta.nombre}}</b><span>
                                <div class="vertical"></div>
                            </span>{{ingredientesReceta.cantidad}}</label>
                        <span></span>
                    </ng-container>
                </ng-container>
            </div>
            <!--fin ingredientes-->

            <h3>Pasos</h3>
            <!--Pasos-->
            <main>
                <ol class="gradient-list">
                    <ng-container *ngFor="let pasosReceta of pasos | async">
                        <ng-container *ngIf="pasosReceta.idReceta==idReceta;">
                            <li class="button">
                                <span>
                                    <p>{{pasosReceta.descripcion}}</p>
                                    <div class="img-contenedor"> <img
                                            src="https://cdn.mercadoflotante.com/blog/wp-content/uploads/2017/01/yakisoba-e1485510522582-768x483.jpg">
                                    </div>
                                </span>
                            </li>
                        </ng-container>
                    </ng-container>
                </ol>
            </main>
            <!--fin pasos-->
        </div>

        <!--pruebas comentarios-->
    
        <ng-container  *ngIf="!usuarioConectado">
            <div>Nombre<input type="text" id="nombre"></div>
        </ng-container>
        
        <div>escriba comentario<input type="text" id="mensaje"></div>
        <button class="push" (click)="publicarComentario()">Comentar</button>
        <p class="falloComentario"></p>
        <ng-container *ngFor="let comentario of comentarios | async">
            <ng-container *ngIf="receta.id==comentario.idReceta;">
                <p>{{comentario.fecha}}</p>
                <p>{{comentario.nombre}}</p>
                <p>{{comentario.mensaje}}</p>
            </ng-container>
        </ng-container>
        <!--fin pruebas comentarios-->

    </ng-container>
</ng-container>
