<div id="contenedorCookie" class="container-fluid mostrar">
    <div id="mensajeCookies" class="justify-content-center container">
        <div class="row card">
            <div>
                <div class="d-flex flex-row justify-content-center align-items-center cookie p-3">
                    <div>
                        <div class="d-flex flex-row align-items-center"><img src="../../../assets/img/logo/cookie.png" width="40">
                            <div class="ml-2 mr-2"><span>Utilizamos cookies de terceros para personalizar contenido, anuncios y analizar el tráfico del sitio.<br></span><a class="learn-more" href="https://www.zimrre.com/legal-app/" target="_blank">Leer más<i class="fa fa-angle-right ml-2"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center w-100 mb-2">
                <button class="btn btn-dark" type="button" (click)="aceptarCookies()">Aceptar</button> &nbsp;
                <button class="btn btn-dark" type="button" (click)="rechazarCookies()">Rechazar</button>
            </div>
        </div>
    </div>
</div>