<div class="fondo" style="background-image: url('../../../../assets/img/fondos/fondo-crear.svg');">
    <div class="contenedorContacto">
        <div class="subcontenedorContacto">
            <div class="imagen" data-tilt>
                <img src="../../../../assets/img/logo//2582280521600459967.svg" alt="IMG">
            </div>
            <form class="contact formulario" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                <span class="titulo pb-1">
                    Contáctanos
                </span>
                <p *ngIf="form.controls['message'].hasError('required') && form.controls['email'].hasError('required') && form.controls['name'].hasError('required')">
                    Recuerde que debe rellenar todos los campos obligarorios</p>
                <div class="inputContenedor">
                    <input class="input" type="text" name="nombre" formControlName="name" required
                        placeholder="Nombre*">
                    <span class="click-input"></span>
                    <span class="icono">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">Introduzca su
                    Nombre</div>
                <div class="inputContenedor">
                    <input class="input" type="text" name="email" formControlName="email" required placeholder="Email*">
                    <span class="click-input"></span>
                    <span class="icono">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched">Introduzca un
                    correo válido</div>
                <div *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">Introzuca un
                    correo</div>

                <div class="inputContenedor">
                    <textarea class="input" name="mensaje" formControlName="message" maxlength="256" required
                        placeholder="Mensaje*"></textarea>
                </div>
                <div *ngIf="form.controls['message'].hasError('required') && form.controls['message'].touched">
                    Introduzca un mensaje</div>
                <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                    <span>{{responseMessage}}</span>
                </div>
                <div class="contenedorBoton">
                    <button class="btn-estilos submit" [disabled]="isLoading ? true : null" type="submit">
                        <span class="mr-2">Enviar</span>&#32;<i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>