/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Yellowtail&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}
/*logotipo*/
.navbar-brand {
  font-family: "Yellowtail", cursive;
  margin: 0;
  font-size: 29px;
}
/*menu detalles de hover*/
.nav-link.active{
  color: rgb(36, 36, 36);
  font-weight: 700;
}
.nav-link:hover {
  color: #ec8001!important;
}